<!doctype html>
<script type="text/javascript">
	window.SAILS_LOCALS = {
		compare: <%- typeof compare !=='undefined'? JSON.stringify(compare) : 'null' %>
	};
</script>
<div ng-controller="ProductController">
	<!--breadcrumbs-->
			<section class="breadcrumbs">
				<div class="container">
					<ul class="horizontal_list clearfix bc_list f_size_medium">
						<li class="m_right_10 current"><a href="/" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
						<li><a href="#" class="default_t_color">Comparer les produits</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<div class="page_content_offset">
				<div class="container">
					<h2 class="tt_uppercase color_dark m_bottom_30">Comparaison des Produits</h2>
					<!--compare products table-->
					<div ng-if="productToCompare.length > 0">
						<table class="table_type_2 responsive_table type_2 full_width r_corners wraper shadow t_align_l m_bottom_30" ng-cloak>
							<tr>
								<!--titles for td-->
								<th class="f_size_large d_xs_none">Image du Produit, Nom &amp; Categorie</th>
								<td data-title="Product Image,Name &amp; Category" ng-repeat="product in productToCompare.items">
									<img class="m_bottom_10" style="width: 110px; height: 110px;" ng-src="{{product.item.picture}}" alt=""><br>
									<a href="#" class="fw_medium d_inline_b f_size_ex_large color_dark m_bottom_5">{{product.item.name}}</a><br>
									<a href="#" class="default_t_color">{{product.item.category}}</a>
								</td>
							</tr>
							<tr>
								<!--price-->
								<td class="f_size_large d_xs_none">Prix</td>
								<td data-title="Price" ng-repeat="product in productToCompare.items">
									<span class="fw_medium f_size_large scheme_color">{{product.item.price | currency}}</span>
								</td>
							</tr>
							<tr>
								<!--description-->
								<td class="f_size_large d_xs_none">Description</td>
								<td data-title="Description" ng-repeat="product in productToCompare.items">
									<p> {{product.item.description}} </p>
								</td>
							</tr>
							<tr>
								<!--description-->
								<td class="f_size_large d_xs_none">Fournisseurs</td>
								<td data-title="Manufacturer" ng-repeat="product in productToCompare.items">
									<p class="color_dark">{{product.item.owner}}</p>
								</td>
							</tr>
							<tr>
								<!--description-->
								<td class="f_size_large d_xs_none">Disponibilité</td>
								<td data-title="Availability" ng-repeat="product in productToCompare.items">
									<p> <span class="color_green">{{product.item.quantity}}</span> produits en stock</p>
								</td>
							</tr>
							<tr>
								<!--action-->
								<td class="f_size_large d_xs_none">Action</td>
								<td data-title="Action" ng-repeat="product in productToCompare.items">
									<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_10" ng-click="addToCart(product)">Ajouter au panier</button><br>
									<a href="" class="color_dark d_inline_b" ng-click="removeToCompare(product)"><i class="fa fa-times m_right_5"></i> Supprimer</a>
								</td>
							</tr>
						</table>
					</div>
					<div ng-if="productToCompare.items.length <= 0">
						<h3>Il n'ya aucun produit à comparer </h3>
					</div>
					<br>
					<br>
					<hr class="m_bottom_15 divider_type_3">
					<a href="/" role="button" class="d_inline_b bg_light_color_2 color_dark tr_all_hover button_type_4 r_corners"><i class="fa fa-reply m_left_5 m_right_10 f_size_large"></i>Retour à l'acceuil</a>
				</div>
			</div>
</div>