<!doctype html>

<div ng-controller="ProductController" ng-cloak>
  <!--breadcrumbs-->
  <section class="breadcrumbs">
    <div class="container">
      <ul class="horizontal_list clearfix bc_list f_size_medium">
        <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
        <li><a href="#" class="default_t_color">Détail de l'achat effectué</a></li>
      </ul>
    </div>
  </section>
  <!--content-->
  <div class="page_content_offset"> 
    <div class="container">
      <div class="row clearfix">
        <!--left content column-->
        <section class="col-lg-9 col-md-9 col-sm-9">
          <h2 class="tt_uppercase color_dark m_bottom_25">Détail de l'achat effectué</h2>
          <!--order info tables-->
          <table class="table_type_6 responsive_table full_width r_corners shadow m_bottom_45 t_align_l">
            <tr>
              <td class="f_size_large d_xs_none">Numéro de l'achat</td>
              <td data-title="Order Number">{{order.paymentId}}</td>
            </tr>
            <tr>
              <td class="f_size_large d_xs_none">Date</td>
              <td data-title="Order Date">{{order.createdAt | date }}</td>
            </tr>
            <tr>
              <td class="f_size_large d_xs_none">Status de l'achat</td>
              <td data-title="Order Status">Confirmé</td>
            </tr>
            <tr>
              <td class="f_size_large d_xs_none">Denière modification</td>
              <td data-title="Last Update">{{order.updatedAt | date }}</td>
            </tr>
            <tr>
              <td class="f_size_large d_xs_none">Paiement</td>
              <td data-title="Payment">Paiement par carte de crédit</td>
            </tr>
            <tr>
              <td class="f_size_large d_xs_none">Total</td>
              <td data-title="Total"><p class="fw_medium f_size_large scheme_color">{{order.cart.totalPrice | currency }}</p></td>
            </tr>
          </table>

          
          <div class="tabs m_bottom_45">
            <!--tabs navigation-->
            <nav>
              <ul class="tabs_nav horizontal_list clearfix">
                <li class="f_xs_none"><a href="#tab-2" class="bg_light_color_1 color_dark tr_delay_hover r_corners d_block">Historique d'Achats</a></li>
              </ul>
            </nav>
            
              <div id="tab-2">
                <table class="table_type_7 responsive_table full_width t_align_l">
                  <thead>
                  <tr class="f_size_large">
                    <th>Nom du produit</th>
                    <th>Status du produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="order in order.cart.items">
                    <td data-title="Product Name">
                      <a href="#" class="color_dark d_inline_b m_bottom_5">{{order.item.name}}</a><br>
                    </td>
                    <td data-title="Product Status">Confirmé<br> par l'acheteur</td>
                    <td data-title="Price">
                      <p class="f_size_large color_dark">{{order.item.price | currency}}</p>
                    </td>
                    <td data-title="Qty">{{order.quantity}}</td>
                    <td data-title="Total"><p class="color_dark f_size_large">{{order.price | currency}}</p></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </section>

      </div>
    </div>
  </div>

  </div>
