<!doctype html>
<html lang="en" ng-app="postecommerce">

  <head>
    <title>Signin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--meta info-->
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/ico" href="/images/fav.ico">
    <!--stylesheet include-->
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.custom-scrollbar.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
    <!--font include-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/AngularJS-Toaster/toaster.min.css">
     <script type="text/javascript">
            window.SAILS_LOCALS = {} || null; 
        </script>
  </head>
  <body ng-controller="customerController">
     <toaster-container toaster-options="{'time-out': 6000}"></toaster-container>
    <!--boxed layout-->
    <div class="wide_layout">
      <!--content-->
        <div class="container">
          <!--banners--><br><br>
          <div class="row">
            <div class="text-center">
               <img src="/images/logoposte.png" alt=""><br><br>
            </div>
             
          </div>
          <div class="row clearfix">

            <div class="col-md-offset-4 col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center">Aide avec le mot de passe</h2><br>
            <form name="forgotForm" ng-submit="forgetPassword()">
              <ul>
                <li class="m_bottom_15 text-center">
                  <p>
                    Saisissez l'adresse e-mail associé à votre compte E-market. Entrer votre mail pour qu'on vous aide à le recupérer
                  </p>
                </li>
                <li class="m_bottom_15">
                  <label for="username" class="m_bottom_5 d_inline_b">Nom Utilisateur ou Mail</label><br>
                  <input type="text" name="" id="username" ng-model="user.email" class="r_corners full_width">
                </li>
                <li class="clearfix m_bottom_30">
                  <button type="submit" class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15">Continuer</button>
                </li>
              </ul>
            </form>
                </div>
              </div>
            </div>
          </div>
        </div> <br><br><br>
        <hr class="container">
        <footer class="footer">
        <br>
          <div class="container">
             <p class="text-center">&copy; 2017 <span class="bold">Joel Alexandre Khang Zulbal</span>. Tous droits reservés.</p>
          </div>
         <br><br>
        </footer>
      </div>
       <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
        <script type="text/javascript" src="/js/dependencies/angular.min.js"></script>
        <script type="text/javascript">
            console.log(angular); 
        </script>
        <script type="text/javascript" src="/js/angular/angular-animate.min.js"></script>
         <script type="text/javascript" src="/js/angular-ui/dist/ui-bootstrap-tpls.js"></script>
         <script type="text/javascript" src="/js/libs/dirPagination.js"></script>
        <script type="text/javascript" src="/bower_components/AngularJS-Toaster/toaster.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript" src="/bower_components/stripe-angular/stripe-angular.js"></script>
        <script type="text/javascript" src="/bower_components/angular-payments/lib/angular-payments.js"></script>
        <script type="text/javascript" src="/js/app-front.js"></script>
        <script type="text/javascript" src="/js/libs/SweetAlert.js"></script>
        <script type="text/javascript" src="/js/libs/sweet-alert.min.js"></script>
  </body>
</html>