<!doctype html>

<div class="camera_wrap m_bottom_0">
        <div data-src="/images/iphone6.png" data-custom-thumb="images/slide_02.jpg">
          <div class="camera_caption_1 fadeFromTop t_align_c d_xs_none">
            <div class="f_size_large color_light tt_uppercase slider_title_3 m_bottom_5">Meet New Theme</div>
            <hr class="slider_divider d_inline_b m_bottom_5">
            <div class="color_light slider_title tt_uppercase t_align_c m_bottom_45 m_sm_bottom_20"><b>Attractive &amp; Elegant<br>HTML Theme</b></div>
            <div class="color_light slider_title_2 m_bottom_45">$<b>15.00</b></div>
            <a href="#" role="button" class="tr_all_hover button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Buy Now</a>
          </div>
        </div>
          <div data-src="/images/iphone8.png" data-custom-thumb="images/slide_01.jpg">
            <div class="camera_caption_2 fadeIn t_align_c d_xs_none">
            <div class="f_size_large tt_uppercase slider_title_3 scheme_color">New arrivals</div>
            <hr class="slider_divider type_2 m_bottom_5 d_inline_b">
            <div class="color_light slider_title tt_uppercase t_align_c m_bottom_65 m_sm_bottom_20"><b><span class="scheme_color">Summer 2017</span><br><span class="color_dark">Ready-To-Wear</span></b></div>
            <a href="#" role="button" class="d_sm_inline_b button_type_4 bg_scheme_color color_light r_corners tt_uppercase tr_all_hover">View Collection</a>
          </div>
          </div>
          <div data-src="/images/macBook.jpg" data-custom-thumb="images/slide_03.jpg">
            <div class="camera_caption_3 fadeFromTop t_align_c d_xs_none">
            <img src="images/slider_layer_img.png" alt="" class="m_bottom_5">
            <div class="color_light slider_title tt_uppercase t_align_c m_bottom_60 m_sm_bottom_20"><b class="color_dark">up to 70% off</b></div>
            <a href="#" role="button" class="d_sm_inline_b button_type_4 bg_scheme_color color_light r_corners tt_uppercase tr_all_hover">Shop Now</a>
          </div>
          </div>
</div>
      <!--content-->
      <div class="page_content_offset">
        <div class="container" ng-controller="ProductController">
          <h2 class="tt_uppercase m_bottom_20 color_dark heading1 animate_ftr">Produits ajoutés récemment</h2>
          <!--filter navigation of products-->
          <!--products-->
          <section class="products_container clearfix m_bottom_25 m_sm_bottom_15" ng-init="getAllProducts()">
            <!--product item-->
            <div class="product_item featured" ng-repeat="product in products | limitTo: 12">
              <figure class="r_corners photoframe shadow relative animate_ftb long">
                <!--product preview-->
                <a href="/app/product/{{product.id}}" class="d_block relative pp_wrap">
                  <!--hot product-->
                  <img ng-src="{{product.picture}}" class="tr_all_hover" alt="" style="height: 242px; width: 242px;">
                  <span data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none" ng-click="select(product)">Quick View</span>
                </a>
                <!--description and price of product-->
                <figcaption>
                  <h5 class="m_bottom_10" style="width: 240px; "><a href="#" class="color_dark">{{product.name}}</a></h5>
                  <div class="clearfix">
                    <p class="scheme_color f_left f_size_large m_bottom_15">{{product.price | currency}}</p>
                    <!--rating-->
                    <ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
                      <li class="active">
                        <i class="fa fa-star-o empty tr_all_hover"></i>
                        <i class="fa fa-star active tr_all_hover"></i>
                      </li>
                      <li class="active">
                        <i class="fa fa-star-o empty tr_all_hover"></i>
                        <i class="fa fa-star active tr_all_hover"></i>
                      </li>
                      <li class="active">
                        <i class="fa fa-star-o empty tr_all_hover"></i>
                        <i class="fa fa-star active tr_all_hover"></i>
                      </li>
                      <li class="active">
                        <i class="fa fa-star-o empty tr_all_hover"></i>
                        <i class="fa fa-star active tr_all_hover"></i>
                      </li>
                      <li>
                        <i class="fa fa-star-o empty tr_all_hover"></i>
                        <i class="fa fa-star active tr_all_hover"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="clearfix">
                    <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0" ng-click="addToCart(product)">Ajouter au panier</button>
                  <button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0" ng-click="compare(product)"><i class="fa fa-files-o"></i></button>
                    <button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0"><i class="fa fa-heart-o"></i></button>
                  </div>
                </figcaption>
              </figure>
            </div>

            <div class="popup_wrap d_none" id="quick_view_product">
        <section class="popup r_corners shadow">
          <button class="bg_tr color_dark tr_all_hover text_cs_hover close f_size_large"><i class="fa fa-times"></i></button>
          <div class="clearfix">
            <div class="custom_scrollbar">
              <!--left popup column-->
              <div class="f_left half_column">
                <div class="relative d_inline_b m_bottom_10 qv_preview">
                  <img ng-src="{{product.picture}}" class="tr_all_hover" alt="">
                </div>
                <!--carousel-->
                <div class="d_inline_middle">Share this:</div>
                <div class="d_inline_middle m_left_5">
                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                  <a class="addthis_button_preferred_1"></a>
                  <a class="addthis_button_preferred_2"></a>
                  <a class="addthis_button_preferred_3"></a>
                  <a class="addthis_button_preferred_4"></a>
                  <a class="addthis_button_compact"></a>
                  <a class="addthis_counter addthis_bubble_style"></a>
                  </div>
                  <!-- AddThis Button END -->
                </div>
              </div>
              <!--right popup column-->
              <div class="f_right half_column">
                <!--description-->
                <h2 class="m_bottom_10"><a href="#" class="color_dark fw_medium">{{product.name}}</a></h2>
                <div class="m_bottom_10">
                  <!--rating-->
                  <ul class="horizontal_list d_inline_middle type_2 clearfix rating_list tr_all_hover">
                    <li class="active">
                      <i class="fa fa-star-o empty tr_all_hover"></i>
                      <i class="fa fa-star active tr_all_hover"></i>
                    </li>
                    <li class="active">
                      <i class="fa fa-star-o empty tr_all_hover"></i>
                      <i class="fa fa-star active tr_all_hover"></i>
                    </li>
                    <li class="active">
                      <i class="fa fa-star-o empty tr_all_hover"></i>
                      <i class="fa fa-star active tr_all_hover"></i>
                    </li>
                    <li class="active">
                      <i class="fa fa-star-o empty tr_all_hover"></i>
                      <i class="fa fa-star active tr_all_hover"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o empty tr_all_hover"></i>
                      <i class="fa fa-star active tr_all_hover"></i>
                    </li>
                  </ul>
                  <a href="#" class="d_inline_middle default_t_color f_size_small m_left_5">1 Review(s) </a>
                </div>
                <hr class="m_bottom_10 divider_type_3">
                <table class="description_table m_bottom_10">
                  <tr>
                    <td>Availability:</td>
                    <td><span class="color_green">in stock</span> {{product.quantity}} item(s)</td>
                  </tr>
                </table>
                <hr class="divider_type_3 m_bottom_10">
                <p class="m_bottom_10">{{product.description}}</p>
                <hr class="divider_type_3 m_bottom_15">
                <div class="m_bottom_15">
                  <s class="v_align_b f_size_ex_large">${{product.price + 850 }}</s><span class="v_align_b f_size_big m_left_5 scheme_color fw_medium">{{product.price | currency}}</span>
                </div>
                <table class="description_table type_2 m_bottom_15">
                  <tr>
                    <td class="v_align_m">Quantity:</td>
                    <td class="v_align_m">
                      <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                        <button class="bg_tr d_block f_left" data-direction="down">-</button>
                        <input type="text" name="" readonly value="1" class="f_left">
                        <button class="bg_tr d_block f_left" data-direction="up">+</button>
                      </div>
                    </td>
                  </tr>
                </table>
                <div class="clearfix m_bottom_15">
                  <button class="button_type_12 r_corners bg_scheme_color color_light tr_delay_hover f_left f_size_large" ng-click="addToCart(product)">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
          </section>
          <!--banners-->
         
          <!--banners-->
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
                <span class="d_inline_middle">
                  <img class="d_inline_middle m_md_bottom_5" src="images/banner_img_3.png" alt="">
                  <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                    <b>Satisfaction</b><br><span class="color_dark">Guaranties</span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
                <span class="d_inline_middle">
                  <img class="d_inline_middle m_md_bottom_5" src="images/banner_img_4.png" alt="">
                  <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                    <b>Livraison gratuite</b><br><span class="color_dark">Sur tous produits</span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a href="#" class="d_block animate_ftb h_md_auto banner_type_2 r_corners orange t_align_c tt_uppercase vc_child n_sm_vc_child">
                <span class="d_inline_middle">
                  <img class="d_inline_middle m_md_bottom_5" src="images/banner_img_5.png" alt="">
                  <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                    <b>Bon Plan</b><br><span class="color_dark">Achetez!</span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>