<!doctype html>
<html lang="en" ng-app="postecommerce">

  <head>
    <title>Signin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--meta info-->
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/ico" href="/images/fav.ico">
    <!--stylesheet include-->
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.custom-scrollbar.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
    <!--font include-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/js/AngularJS-Toaster/toaster.min.css">
    <script type="text/javascript">
      window.SAILS_LOCALS = {} || null; 
    </script>
  </head>
  <body ng-controller="customerController">
     <toaster-container toaster-options="{'time-out': 6000}"></toaster-container>
    <!--boxed layout-->
    <div class="wide_layout">
      <!--content-->
        <div class="container">
          <!--banners--><br>
          <div class="row">
            <div class="text-center">
               <img src="/images/logoposte.png" alt=""><br><br>
            </div>
             
          </div>
          <div class="row clearfix">

            <div class="col-md-offset-4 col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center">Connectez-vous</h2><br>
            <form ng-submit="login(loginForm.$valid)" novalidate="novalidate" name="loginForm">
              <ul>
                <li class="m_bottom_15">
                  <label for="email" class="m_bottom_5 d_inline_b">Adresse Mail</label><br>
                  <input type="text" name="email" id="username" ng-model="user.email" class="r_corners full_width" required="required">
                </li>
                <li class="m_bottom_25">
                  <label for="password" class="m_bottom_5 d_inline_b">Mot de Passe</label><br>
                  <input type="password" name="password" ng-model="user.password" id="password" class="r_corners full_width" required="required">
                </li>
                <li class="clearfix m_bottom_30">
                  <button class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15" type="submit">Se Connecter</button>
                  <div class="f_right f_size_medium f_mxs_none">
                    <a href="/app/forgot" class="color_dark">Mot de passe oublié?</a><br>
                  </div>
                </li>
              </ul>
            </form>
                </div>
                
                <div class="panel-footer">
                  <h3 class="color_dark d_inline_middle d_mxs_block m_mxs_bottom_15">Nouveau Client?</h3>
              <a href="/app/signup" role="button" class="tr_all_hover r_corners button_type_4 bg_dark_color bg_cs_hover color_light d_inline_middle m_mxs_left_0">Créer un compte</a>
                </div>
              </div>
            </div>
          </div>
        </div> <br><br>
        <hr class="container">
        <footer class="footer">
        <br>
          <div class="container">
             <p class="text-center">&copy; 2017 <span class="bold">Joel Alexandre Khang Zulbal</span>. Tous droits reservés.</p>
          </div>
         <br><br>
        </footer>
      </div>
       <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
        <script type="text/javascript" src="/js/dependencies/angular.min.js"></script>
        <script type="text/javascript">
            console.log(angular); 
        </script>
        <script type="text/javascript" src="/js/angular/angular-animate.min.js"></script>
         <script type="text/javascript" src="/js/angular-ui/dist/ui-bootstrap-tpls.js"></script>
         <script type="text/javascript" src="/js/libs/dirPagination.js"></script>
        <script type="text/javascript" src="/js/AngularJS-Toaster/toaster.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript" src="/js/stripe-angular/stripe-angular.js"></script>
        <script type="text/javascript" src="/js/angular-payments/lib/angular-payments.js"></script>
        <script type="text/javascript" src="/js/app-front.js"></script>
        <script type="text/javascript" src="/js/libs/SweetAlert.js"></script>
        <script type="text/javascript" src="/js/libs/sweet-alert.min.js"></script>
  </body>
</html>